name: Windows CI

on: [push, pull_request, workflow_dispatch]

jobs:
  msvc-cmake-build:
  
    strategy:
      matrix:
        include:
          - qt_ver: '6.10.1'
            vs: '2022'
            aqt_arch: 'win64_msvc2022_64'
            msvc_arch: 'x64'

    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        arch: ${{ matrix.aqt_arch }}
        version: ${{ matrix.qt_ver }}
        modules: 'qtimageformats'
        cache: true
    - name: Build
      shell: cmd
      run: |
        :: ------ env ------
        set PWD=%cd%
        set VS=${{ matrix.vs }}
        set VCVARS="C:\Program Files (x86)\Microsoft Visual Studio\%VS%\Enterprise\VC\Auxiliary\Build\vcvarsall.bat"
        if not exist %VCVARS% set VCVARS="C:\Program Files\Microsoft Visual Studio\%VS%\Enterprise\VC\Auxiliary\Build\vcvarsall.bat"
        call %VCVARS% ${{ matrix.msvc_arch }}
        :: ------ app ------
        echo ::group::===== App (Build'n'Install) =====
        cmake -Bbuild .
        cmake --build build --config Release
        cmake --install build --config Release --prefix "%PWD%\build"
        echo ::endgroup::
        :: ------ pkg ------
        windeployqt --verbose=2 --no-compiler-runtime --no-quick-import --no-translations --no-opengl-sw --no-system-d3d-compiler --no-system-dxc-compiler --skip-plugin-types tls,networkinformation build\bin\passoc.exe
        copy LICENSE build\bin
        exit /B 0
    - uses: actions/upload-artifact@v4
      with:
        name: "windows-msvc${{ matrix.vs }}-qt${{ matrix.qt_ver }}-cmake-package"
        path: build/bin/*
